
@media all
{

  html, body {
    font-size: 100.01%;
    font-family: 'Muli', Arial, serif; 
    font-weight: 300; 
    margin: 0 auto;
    padding: 1.5em;
  }
  
  pre, tt, code {
    font-family: "Courier New", courier, monospace;
  }

  body {
    font-size: 14px;
    color: #232323;
    background: #ccc;
  }

  h1,
  h2,
  h3, 
  h4, 
  h5,
  h6,
  strong {
    font-weight: 400;
  }
  strong {
    font-weight: bold;
  }
  h1 {
    font-size: 3em;
    text-shadow: 0.5px 0.5px 0px #fff;
  }
  h1 a {
    text-decoration: none;
    color: #232323;
  }
  a {

  }

}