
@media all {

  html, body {
    font-size: 100.01%;
    font-family: 'Muli', Arial, serif; 
    font-weight: 300; 
    margin: 0 auto;
    padding: 0;
  }
  html {
     background: #666666; /* Old browsers */
background: -moz-linear-gradient(top,  #666666 0%, #343434 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#343434)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #666666 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #666666 0%,#343434 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #666666 0%,#343434 100%); /* IE10+ */
background: linear-gradient(top,  #666666 0%,#343434 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
   /*min-height: 100%;*/
   overflow-y: scroll;
 background: url('/img/body-bg_puny.png') repeat-x #333333;
 background: #fff;
  }


html, body, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, 
del, dfn, em, img, ins, kbd, q, samp,
dl, ol, ul, form, table {
  margin: 0;
  padding: 0 0 0.75em 0;
}








  #logo,
  #claim,
  #name,
  #ajax {
    display: none;
  }

  pre, tt, code {
    font-family: "Courier New", courier, monospace;
  }
  body {
    border-top: 5px solid #333;
    font-size: 15px;
    color: #000;
  }

  #page {
    margin: 30px auto 10px auto;
    
    width: 100%; /** > 960px **/
    max-width: 960px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
  }

  #layout {
    position: relative;
    clear: both;
    overflow: hidden;
    padding-bottom: 40px;
  }

  #main {
    width: 580px;
    height: 550px;
    overflow: auto;
    background: #fff 0 bottom no-repeat; 
    float: left;

    background-size: 100%;
   /* -webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.75);*/
  }


  #content {
  
    /*max-width: 50%;
    min-height: 40%;*/
    padding: 2em 2em 1em 3.5em;
   
 

  }
  .id-home #main {
    
  }
  #navigation {
  /*  max-width: 30%;
    min-height: 40%;*/
    float: left;
    padding: 0 35px 0 35px;
  }
  #sidebar {
    width: 250px;
    height: 100%;
    min-height: 550px;
    float: right;
    overflow: hidden;
  }
  #sidebar .skillz,
  #sidebar .contact {
    height: auto;
    background: #fff;
    width: 100%;
    padding: 1em;
    overflow: hidden;
    /*-webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.75);*/
  }
  #sidebar .contact {
    position: absolute;
    bottom: 42px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    margin: 0 0;
    padding: 6px 0 5px 0;
    font-size: 12px;
    background: #333333;
    overflow: hidden;
    color: #999;
    clear: both;
    overflow: hidden;
  }
  #footer p {
      margin: 0;
      padding: 0 10px;
      width: 230px;
  }
  #footer .copyright {
    float: right;
    font-weight: 400;
  }
  #footer time {
    float: right;
  }
  #footer a {
    float: left;
    color: #999;
    text-decoration: none;
  }
  #footer a:hover,
  #footer a:focus {
    color: #f0f0f0;
  }


  #ajax {
    clear: both;
    background: #000;
    padding: 0.5em;
    color: #fff;
  }


  h1,
  h2,
  h3, 
  h4, 
  h5,
  h6,
  strong {
    font-weight: 300;
    margin: 0;
    padding: 0.5em 0 1em;
    letter-spacing: 0;
    /*letter-spacing: -0.070em;*/
  }
  h1,
  h2,
  h3, 
  h4, 
  h5,
  h6 {
  
  }
  strong {
    font-weight: 400;
  }
  h1 {
    font-size: 3em;
    text-shadow: 0.5px 0.5px 0px #fff;
  }
  h1 a {
    text-decoration: none;
    color: #232323;
  }
  h2 {
    /*font-family: 'Helvetica Neue', Helvetica, Arial;  */
    font-weight: 300;
    font-size: 24px;
    margin: 0 0 0.5em;
  }
  h4 {
    font-size: 20px;
    padding-top: 0;
  }

  a {
    text-decoration: none;
  }

  a:focus,
  a:active {

      outline: none;
  }



  #content ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #content ul li {
    position: relative;    
    margin-left: 15px;
  }
  #content ul li:before {
    content: "–";color: #666;
    position: absolute;
    left: -15px;
  
  }
  blockquote {
    position: relative;
    padding: 0 10%;
    font-style: italic;
    margin-top: 1em;
  }
  blockquote p:first-of-type:before {
    content: "„";
    color: #666;
  }
  blockquote p:last-of-type:after {
    content: "“";
    color: #666;
  }
  blockquote footer:before {
    content: "—"; color: #666;
    padding-right: 5px;
  }
  blockquote footer {
    font-style: normal;
    font-size: 80%;
  }



  #navigation h3,
  #navigation h4,
  #navigation-main li.id-impressum {
    display: none;
  }
  #navigation ul, 
  #navigation li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  #navigation ul {
    padding-top: 16px;
  }
  #navigation li {
    padding-bottom: 0;
  }
  #navigation li li {
    padding: 16px 0;
  }
  

  /** Navigation Main **/
  /*#navigation-main .ajaxLinksLoadingState,*/
  #navigation-main a {
    position: relative;
    display: block;
    float: none;
    background: #fff;
  
    width: 60px;    
    height: 60px;
    /*overflow: hidden;*/
    text-align: center;
    z-index: 19;
    white-space : nowrap;
    background: url(/img/rs3d-portfolio-icons.png) no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #navigation-main a {
   opacity: 0.75;
    -moz-opacity: 0.75;
    filter:alpha(opacity=0.75);
  
  }
  /*#navigation-main .ajaxLinksLoadingContent {
    display: block;
    text-align: center;
    vertical-align: center;
    padding: 6px;
    width: 48px;
    height: 48px;
  }
  #navigation-main span.ajaxLinksLoadingState a {
    display: none;
  }*/
  #navigation-main ul .id-ueber-mich a { background-position: -70px 0;}
  #navigation-main ul .id-skills a { background-position: -140px 0;}
  #navigation-main ul .id-portfolio a { background-position: -210px 0;}
  #navigation-main ul .id-lebenslauf a { background-position: -280px 0;}
  #navigation-main ul .id-kontakt a { background-position: -350px 0;}

  #navigation-main ul .current.id-home > a,
  #navigation-main ul .current.id-home > span > a { background-position: 0 bottom;}

  #navigation-main ul .current.id-ueber-mich a { background-position: -70px bottom;}
  #navigation-main ul .current.id-skills a { background-position: -140px bottom;}
  #navigation-main ul .current.id-portfolio a { background-position: -210px bottom;}
  #navigation-main ul .current.id-lebenslauf a { background-position: -280px bottom;}
  #navigation-main ul .current.id-kontakt a { background-position: -350px bottom;}

  #navigation-main a strong,
  #navigation-main a span,
  #navigation-main a em {
     text-align: left;
    position: absolute;
    
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
    
    line-height: 60px;
    margin-left: 100%;
    padding: 0 1em;
    z-index: 20;

  
    font-weight: 300;
    overflow: visible;
    display: block;
    text-indent: -100%;
    white-space: nowrap;
    overflow: hidden;
    /*
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);*/
    width: auto;




    background: #fff;
    color: #999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  /*#navigation-main a:active,
  #navigation-main a:active,
  #navigation-main a:active,*/
  #navigation-main a:hover,
  #navigation-main a:hover,
  #navigation-main a:hover {
       opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
     
  }


  #navigation-main a:active strong,
  #navigation-main a:active span,
  #navigation-main a:active em,
  #navigation-main a:hover strong,
  #navigation-main a:hover span,
  #navigation-main a:hover em {
     color: #fff;
    position: absolute;
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
    
   width: auto; 
    margin-left: 60px;
    padding: 0 1em;
    z-index: 20;
    
    color: #fff;
    font-weight: 400;
    text-indent: 0;
    overflow: visible;
    background: #999;
    border-color: #999;
   
  }
  
  #navigation-main .current > span a strong,
  #navigation-main .current > span a span,
  #navigation-main .current > span a em,
  #navigation-main .current > a strong,
  #navigation-main .current > a span,
  #navigation-main .current > a em {

    color: #fff;
    background-color: #000;
  }

  /** 
    *Breadcrumb 
    **/
  #navigation-breadcrumb {
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 5;
    width: 440px;
    font-size: 12px;
  }
  #navigation-breadcrumb em,
  #navigation-breadcrumb strong {
    font-style: normal;
    font-weight: 300;
  }
  #navigation-breadcrumb ul,
  #navigation-breadcrumb li {
    margin: 0;
    padding: 0;
    display: inline;
    /*padding-right: 2em;*/
    color: #999;
  }
  #navigation-breadcrumb li:after {
     content: ">";
     padding: 0 0.5em;
     float: left;
     font-weight: 400;
  }

  #navigation-breadcrumb li:last-child:after {
    content: "";
    padding: 0;
  }
  #navigation-breadcrumb a {
    color: #999;
    text-decoration: none;
    display: block;
    float: left;
  }
  #navigation-breadcrumb a:hover,
  #navigation-breadcrumb a:focus {
    color: #f0f0f0;
  }

}
.shadow:after,
.shadow-gray:after {
  bottom: -7px;
  content: ".";
  height: 6px;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
 
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,1));
  background-image:    -moz-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,1));
  background-image:     -ms-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,1));
  background-image:      -o-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,1));
}
 
.shadow-gray:after {
  background-image: -webkit-linear-gradient(left, rgba(205,205,205,1), rgba(205,205,205,0), rgba(205,205,205,1));
  background-image:    -moz-linear-gradient(left, rgba(205,205,205,1), rgba(205,205,205,0), rgba(205,205,205,1));
  background-image:     -ms-linear-gradient(left, rgba(205,205,205,1), rgba(205,205,205,0), rgba(205,205,205,1));
  background-image:      -o-linear-gradient(left, rgba(205,205,205,1), rgba(205,205,205,0), rgba(205,205,205,1));
}
 
.shadow:before,
.shadow-gray:before {
  bottom: -6px;
  content: ".";
  height: 6px;
  position: absolute;
  text-indent: -9999px;
  width: 100%;
 
  background-image: -webkit-linear-gradient(top, rgba(150,150,150,1), rgba(150,150,150,0));
  background-image:    -moz-linear-gradient(top, rgba(150,150,150,1), rgba(150,150,150,0));
  background-image:     -ms-linear-gradient(top, rgba(150,150,150,1), rgba(150,150,150,0));
  background-image:      -o-linear-gradient(top, rgba(150,150,150,1), rgba(150,150,150,0));
}

@media (max-device-width: 980px), (max-width: 960px) {

    html,body {
      font-size: 100%;
      margin: 0;
      
    }
    #page {
      width: auto;
      margin: auto;
     
    }
    #main {
      width: 70%;
      height: auto;
      overflow: visible;
      /*background: #fff;*/
      float: left;
      min-height: 550px;
    }
    #navigation {
      padding-left: 5%;
      padding-right: 0;
      width: 25%;
      float: right;
      text-align: right;
    }
  #navigation-main a {
    width: auto;
  }
  #navigation-main a strong,
  #navigation-main a span,
  #navigation-main a em,
  #navigation-main a strong,
  #navigation-main a span,
  #navigation-main a em {
     color: #fff;
    position: absolute;
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
    width: 100%;   
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
   
    margin-left: 60px;
    padding: 0 1em;
    z-index: 20;
    
    color: #fff;
    font-weight: 400;
    text-indent: 0;
    overflow: visible;
    background: #999;
    border-color: #999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #navigation-main a:active strong,
  #navigation-main a:active span,
  #navigation-main a:active em,
  #navigation-main a:hover strong,
  #navigation-main a:hover span,
  #navigation-main a:hover em {
    width: 100%;
  }
    #sidebar {
      padding-top: 1%;
      width: 70%;
      clear: both;
      float: none;

      min-height: 100%;
    }
    #sidebar .skillz, 
    #sidebar .contact {
        margin-top: 1%;
    }
    #sidebar .contact {
      position: static;
      bottom: auto;
    }


    #content {
      /*max-width: 50%;
      min-height: 40%;*/
      padding: 2em 1em 1em  2.5em;
    }
    #content p {
   
      background: #fff;

    }
   

  }
  @media (max-device-width:480px), (max-width: 480px) {
    html,body {
      font-size: 100%;
      background: blue;
      margin: 0;
    }
    #page {
      width: auto;
      margin: auto;
     
    }
    #main {
      width: auto;
      height: auto;
      overflow: visible;
      /*background: #fff;*/
      float: none;
      min-height: 550px;
    
    }

    #content {

      /*max-width: 50%;
      min-height: 40%;*/
      padding: 2em 1em 1em  2.5em;
     


    }
    #navigation,
    #navigation-main  {
      width: 100%;
      max-width:auto;
      overflow: hidden;
      margin: 16px 0;
      padding: 0;

    }
    #navigation-main ul, 
    #navigation-main li {
      float: none;
      clear: both;
      display: inline;
      width: 100%;
    }
    #navigation-main a {
      padding: 0;
      width: 60px;
      width: 100%;
      height: 60px;
      overflow: visible;
      margin: 1em 0;
    }
    #navigation-main a strong,
    #navigation-main a span,
    #navigation-main a em {
     
      text-indent: 0;
      position: absolute;
      display: block;
      width: 100%;
      min-width: 100%;
      left: 0;
      margin-left: 60px;
      z-index: 100;
      overflow: visible;
      opacity: 1;
      -moz-opacity: 1;
      filter:alpha(opacity=1);
      width: auto;   opacity: 1;
      -moz-opacity: 1;
      filter:alpha(opacity=1);

    }
    #navigation-breadcrumb {
      bottom: 25px;
      left: 0;
      padding: 0 1em;
    }
    #sidebar {
      min-height: 100%;  
      width: auto;
      float: left;
      width: 100%;

    }
    #sidebar .skillz, 
    #sidebar .contact {
      position: static;
      margin: 1em 0;
      width: 100%;
      height: auto;
    }
    #footer p,
    #footer p.copyright {
      padding: 0 1em;
      width: 100%;
      float: none;
    }
  }